.createNewUserContainer {
  margin: auto;
  width: 50%;
}

.formContainer {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 50px; 
}  

.passwordContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password-requirements {
  font-size: 8px !important;
  color: #888;
  margin-top: 5px;
}