.income-statement-header {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .income-statement-form {
    margin-bottom: 30px;
  }
  
  .income-statement-section {
    margin-top: 20px;
    margin-bottom: 30px; 
  }
  
  .income-statement-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; 
  }
  
  .email-form {
    margin-top: 20px; 
  }
  
  
  
  