.textLeft {
  text-align: left;
}

.leftAlignedDatePicker {
  text-align: left;
}

.button {
  align-items: left;
  border: 3px solid #5ec57e;
  background: #5ec57e;
  border-radius: 10px;
  width: 200px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 50px;
}

.forms Row {
  margin-left: 50px;
  margin-right: 50px;
}
