.main {
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;
}

.header {
  color: #336b45;
  margin: 5%;
  padding-top: 40px;
  text-align: center;
}

.column {
  float: center;
  width: 80%;
  padding: 10px;
  margin: auto;
  align-items: center;
}
.centeredColumn {
  width: 50%;
  padding: 10px;
  margin: auto !important;
  align-items: center;
}

.pSmall {
  font-size: 0.8em;
  color: #707070;
  margin: 0;
  padding: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.label50 {
  padding-top: 30px;
  align-self: center;
  margin: auto;
  padding-bottom: 0;
}

.textField50 {
  width: 50%;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border: #9d9c9c;
  border-radius: 10px;
  display: block;
  width: 50%;
  height: 40px;
  background-color: transparent;
  color: black;
  box-shadow: 1px 1px 4px #9d9c9c;
}
.textField {
  width: 100%;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: #9d9c9c;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: black;
  box-shadow: 1px 1px 4px #9d9c9c;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.forms {
  text-align: center;

  box-shadow: 6px 10px 15px #9d9c9c;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.inputBox {
  align-self: center;
  border: #9d9c9c;
  border-radius: 10px;
  display: block;
  width: 50%;
  height: 40px;
  background-color: transparent;
  color: black;
  box-shadow: 1px 1px 4px #9d9c9c;
  margin: auto;
}

.button {
  border: 3px solid #5ec57e;
  background: transparent;
  border-radius: 10px;
  width: 60%;
  color: #5ec57e;
  margin: 5%;
}

.fixLinks {
  text-decoration: none;
  color: #5ec57e;
}
