.container {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #c4c4c4;
  border-top: inset 2px #6bd14c;
}

.container h3 {
  margin-top: 0em;
}

.logo {
  height: 80px;
  display: block;
}

.flex {
  display: flex;
}

.flex a {
  display: block;
  margin: 5px;
  text-decoration: none;
  color: rgb(0, 0, 255);
}

.container p {
    margin-top: 0; /* Remove default margin for the paragraph */
  }