.container {
  display: flex;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #336b45;
  border-top: inset 2px #6bd14c;
}

.container h3 {
  margin-top: 0em;
}

.logo {
  height: 80px;
  display: block;
}

.flex {
  display: flex;
}

.flex a {
  display: block;
  margin: 5px;
  text-decoration: none;
  color: #fff; /* Set default text color to white */
}

.flex a:hover {
  text-decoration: underline;
  color: #b0ff6f; /* Set hover color to #b0ff6f */
}

.container p {
  margin-top: 0; /* Remove default margin for the paragraph */
}

.footer {
  background-color: #336b45;
  color: white;
  text-align: center;
  padding: 0px;
  width: 100;
}
.footer a:hover {
  text-decoration: underline;
  color: #b0ff6f;
}
