/* EventLogs.module.css */
.loader,
.error,
.noLogs,
.logsContainer,
.heading,
.logEntry {
  margin: 10px;
  padding: 10px;
}

.error {
  color: red;
}

.noLogs {
  color: gray;
}

.logEntry {
  border: 1px solid #eee;
  margin-bottom: 8px;
}

.eventLogImage {
  max-width: 100%; 
  height: auto;
  border: 1px solid #ddd; 
  border-radius: 4px; 
  margin-top: 8px; 
}
